<div style="height: 3rem; margin: 0; padding: 0 1rem; display: flex; align-items: center; justify-content: flex-end; gap: 1rem;">
{% if user.is_authenticated %}
    <p style="margin: 0; padding: 4px;;">Welcome, {{ user.username }}!</p>
    
    <form method="post" action="{% url 'logout' %}" style="margin: 0; display: flex; align-items: center;">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
{% endif %}
</div>
<h2>Your Polls</h2>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

